main#corpoPrincipal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section#searchPoke {
    margin: 20px 0;
    display: flex;
    gap: 15px
}

section#ListPoke {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1118px;
}

article#cardPoke {
    width: 203px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 1px 2px 5px #00000078;
    border-radius: 10px;
    transition: transform 0.3s ease
}

article#cardPoke:hover {
    transform: translateY(-5px)
}

p#idPoke {
    color: black;
}

img#imgPoke {
    display: flex;
    margin: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h2#titleNamePoke {
    color: black;
    text-align: center;
    font-size: 1.5em;
}

div#typesPokemons {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px 0;
}

div#typesPokemons > span {
    border: none;
    padding: 10px;
    border-radius: 20px;
    width: 80px;
}
@media screen and (max-width: 760px) {
    article#cardPoke {
        width: 170px;
    }
    img#imgPoke {
        width: 159px;
    }
    div#typesPokemons > span {
        width: 73px;
        padding: 8px;
    }
}