header {
    padding: 10px;
}

nav img {
    margin-left: 41px;
}

nav > p {
    margin-left: auto;
    margin-right: 30px;
    font-size: 1.4em; 
}

p a{
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease
}

p a{
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease
}

p#containerLink:hover  {
    transform: translateY(-2px);
    text-decoration: underline;
}
p a:hover {
    text-decoration: underline;
}

main {
    height: 100vh;
}

article#ContainerPokeInfo {
    margin: auto;
    margin-top: 20px;
    width: 800px;
    box-shadow: 1px 2px 5px #00000078; 
}

div#cabecalhoPoke {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

h1#NamePokemom { 
    font-size: 2.2em;
} 

span.material-icons{
    font-size: 2em;
    margin: 5px 0 0 0;
    cursor: pointer;
    transition: transform 0.5s ease;
}

span.prev:hover{
    transform: translateX(-5px);
}
span.next:hover{
    transform: translateX(5px);
}

section#inforPoke {
    display: flex;
    justify-content: center;
    gap: 50px; 
}

img#imagePoke {
    object-fit: cover;
}

div#containerInforPoke {
    height: 100%;
    width: 250px;
    margin: 55px 30px 0 0;
    padding: 15px;
    box-shadow: 1px 2px 5px #00000078;
}

div#containerInforPoke > p {
    margin: 15px 0;
    font-size: 1.1em;
}
h2#TitleVariacaoPoke {
    text-align: center;
    margin: 30px 0 0px;
}

div#varicaoPokemom > figure{
    display: flex;
    justify-content: center;
}

h2#titleMovimentosPoke {
    text-align: center;
    margin: 0px 0 15px;
}

div#divMove {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}

span#spanMove {
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.5s ease;
}

span#spanMove:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 768px){
    article#ContainerPokeInfo {
        width: 350px;
    }
    section#inforPoke {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    div#containerInforPoke {
        margin: 0;
    }
    div#varicaoPokemom  > figure {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    nav img {
        margin: 0;
    }
}
